<div class="card">
  <div class="panel-heading text-center">
    <h4><i class="fa fa-cog" aria-hidden="true"></i>Loan Status Settings</h4>
  </div>
  <hr />
  <div class="card-body">
    <div class="clearfix">
      <form>
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col">
                <div class="input-group">
                  <input type="text" class="form-control" id="loanStatus" placeholder="Loan Status">
                </div>
              </div>
              <div class="col">
                <button class="btn btn-primary">Add</button>
              </div>

              <div class="col-md-6">
                <div class="row">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Status Description</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td><i class="fa fa-edit"></i></td>
                        <td><i class="fa fa-trash"></i></td>
                      </tr>


                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
      </form>
    </div>

  </div>
</div>