<div class="topbar">

    <!-- LOGO -->
    <div class="topbar-left">
        <a class="logo"><span class="text-white">Fomas Hospital<span></span></span><i class="fa fa-home"></i></a>
        <!-- Image logo -->
        <!--<a href="index.html" class="logo">-->
        <!--<span>-->
        <!--<img src="assets/images/logo.png" alt="" height="30">-->
        <!--</span>-->
        <!--<i>-->
        <!--<img src="assets/images/logo_sm.png" alt="" height="28">-->
        <!--</i>-->
        <!--</a>-->
    </div>

    <!-- Button mobile view to collapse sidebar menu -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">

            <div class="clearfix">
                <!-- Navbar-left -->
                <ul class="nav navbar-left">
                    <li>
                        <button class="button-menu-mobile open-left waves-effect" (click)="toggleNavbar()"><i
                                class="mdi mdi-menu"></i> </button>
                    </li>

                    <li class="d-none d-lg-inline-block">
                        <a href="#" class="menu-item text-white" style="font-size: 30px; font-weight: bold">Cooperative
                            Society</a>
                    </li>

                </ul>

                <!-- Right(Notification) -->
                <ul class="nav navbar-right">
                    <li>
                        <a href="#" class="right-menu-item dropdown-toggle" data-toggle="dropdown">
                            <i class="mdi mdi-bell"></i>

                        </a>

                        <ul
                            class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right dropdown-lg user-list notify-list">
                            <li>
                                <h5>Notifications</h5>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" class="right-menu-item dropdown-toggle" data-toggle="dropdown">
                            <i class="mdi mdi-email"></i>

                        </a>

                        <ul
                            class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right dropdown-lg user-list notify-list">
                            <li>
                                <h5>Messages</h5>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void(0);" class="right-bar-toggle right-menu-item">
                            <i class="mdi mdi-settings"></i>
                        </a>
                    </li>

                    <li class="dropdown user-box">
                        <a class="dropdown-toggle waves-effect user-link" data-toggle="dropdown" aria-expanded="true">
                            <img src="assets/images/users/avatar-1.png" alt="user-img" class="rounded-circle user-img">
                        </a>

                        <ul
                            class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right user-list notify-list">
                            <li>
                                <h5>Hi, Nandom</h5>
                            </li>
                            <li><a class="dropdown-item"><i class="ti-user m-r-5"></i>
                                    Profile</a></li>
                            <li><a class="dropdown-item"><i class="ti-settings m-r-5"></i>
                                    Settings</a></li>
                            <li><a class="dropdown-item"><i class="ti-lock m-r-5"></i> Lock
                                    screen</a></li>
                            <li><a class="dropdown-item"><i class="ti-power-off m-r-5"></i>
                                    Logout</a></li>
                        </ul>
                    </li>

                </ul> <!-- end navbar-right -->
            </div>

        </div><!-- end container -->
    </div><!-- end navbar -->
</div>