<!-- Begin page -->
<div id="wrapper">

    <!-- Top Bar Start -->
    <app-header></app-header>
    <!-- Top Bar End -->


    <!-- ========== Left Sidebar Start ========== -->
    <app-sidebar></app-sidebar>
    <!-- Left Sidebar End -->



    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Dashboard</h4>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
               <router-outlet></router-outlet>

            </div> <!-- container-fluid -->

        </div> <!-- content -->

      <app-footer></app-footer>

    </div>

 


 

</div>
<!-- END wrapper -->