

<!-- Top Banner
    ================================================= -->
<section id="banner">
    <div class="container">
        <!-- Sign Up Form
        ================================================= -->
        <div class="sign-up-form pull-left" style="margin-left: -7%">
            <a  class="logo"><img src="assets/images/dbnlogo.png" height="80px"/></a>
            <h2 class="text-white" style="font-weight: bolder;">Eazybank Login</h2>
            <div class="line-divider"></div>
            <div class="form-wrapper">
                <p class="signup-text">Log in to DBN EazyRemitta</p>
                <form action="#">
                    <fieldset class="form-group">
                        <input type="text" class="form-control" placeholder="Username">
                    </fieldset>
                    <fieldset class="form-group">
                        <input type="password" class="form-control" placeholder="password">
                    </fieldset>
                    <fieldset class="form-group">
                        <input type="password" class="form-control" placeholder="Enter Token Code">
                    </fieldset>
                </form>

                <button class="btn btn-secondary" (click)="login()">Log In</button>
            </div>
        
            <img class="form-shadow" src="images/bottom-shadow.png" alt="" />
        </div><!-- Sign Up Form End -->
    </div>
</section>

<!-- Footer
    ================================================= -->
<footer id="footer">
    <div class="copyright" style="padding-bottom: 6%">
        <marquee behavior="scroll" direction="left" scrollamount="1"><b style="font-weight: bolder;">Delivering
                Faster and More Meaningful Interactions!!!!!&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;Delivering Faster and
                More Meaningful Interactions!!!!!</b></marquee>

        <br><br>
        <p>&nbsp;Copyright &copy;
            <script type="text/javascript">
                document.write(new Date().getFullYear());
            </script>. Development Bank of Nigeria. All Rights Reserved<br> p <i class="fa fa-power-off">&nbsp;wered
                by:</i> <a href="www.datalinks.com" target="_blank">DataLinks Finance & System Consulting</a></p>
    </div>
</footer>

<!--preloader-->
<div id="spinner-wrapper">
    <div class="spinner"></div>
</div>