<div class="row">


    <div class="col-xl-4 col-md-4 icon">
        <div (click)="interestSettingsClicked()" class="card-box widget-box-two widget-two-info text-white" style="background: #6e0404; font-size:25px;">

            <div class="wigdet-two-content">

                <p><i class="fa fa-cog" aria-hidden="true"></i> Interest Settings</p>
            </div>
        </div>
    </div><!-- end col -->
    <div (click)="loanTypeSettingsClicked()" class="col-xl-4 col-md-4 icon">
        <div class="card-box widget-box-two widget-two-info text-white" style="background: #6e0404; font-size:25px;">

            <div class="wigdet-two-content">

                <p><i class="fa fa-cog" aria-hidden="true"></i> Loan Type Settings</p>
            </div>
        </div>
    </div><!-- end col -->
    <div (click)="loanStatusSettingsClicked()" class="col-xl-4 col-md-4 icon">
        <div class="card-box widget-box-two widget-two-info text-white" style="background: #6e0404; font-size:25px;">

            <div class="wigdet-two-content">

                <p><i class="fa fa-cog" aria-hidden="true"></i> Loan Status Settings</p>
            </div>
        </div>
    </div><!-- end col -->

</div>