<div class="row">

  <div class="col">
    <div class="card">
      <div class="panel-heading text-center">
        <h4><i class="fa fa-cog" aria-hidden="true"></i>Loan Interest Settings</h4>
      </div>
      <hr />
      <div class="card-body">
        <form>
          <div class="form-group row">

            <div class="col-sm-10">
              <button type="button" class="btn btn-primary">
                Loan Interest Rate(%): <span class="badge badge-dark">{{loanInterestRateValue[0]?.interestRate}}</span>
              </button>
            </div>

          </div>
          <hr />
          <div class="form-group row">

            <div class="col-sm-8">
              <input type="number" class="form-control" id="inputPassword" [(ngModel)]="loanInterestRate"
                name="investmentInterestRate">
            </div>
            <div class="col-sm-2">
              <button class="btn btn-primary" (click)="setLoanInterestRate()">set</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="panel-heading text-center">
        <h4><i class="fa fa-cog" aria-hidden="true"></i>Investment Interest Settings</h4>
      </div>
      <hr />
      <div class="card-body">
        <form>
          <div class="form-group row">

            <div class="col-md-10">
              <button type="button" class="btn btn-success">
                Investment Interest Rate(%): <span
                  class="badge badge-dark">{{investmentInterestRateValue[0]?.interestRate}}</span>
              </button>
            </div>

          </div>
          <hr />
          <div class="form-group row">

            <div class="col-md-8">
              <input type="number" class="form-control" id="inputPassword" [(ngModel)]="investmentInterestRate"
                name="investmentInterestRate">
            </div>
            <div class="col-md-2">
              <button class="btn btn-success" (click)="setInvestmentInterestRate()">set</button>
            </div>
          </div>
        </form>

      </div>
    </div>

  </div>


</div>
