<div class="card">
    <div class="panel-heading text-center">
        <h4><i class="fa fa-cog" aria-hidden="true"></i>Interest Settings</h4>
    </div>
    <hr />
    <div class="card-body">
        <div class="clearfix">
            <form>
                <div>
                    <div class="form-row align-items-center">
                        <div class="col-sm-3 my-1">
                            <label>Current Loan Interest Rate:
                                {{loanInterestRateList[0]?.loanInterestRate}}</label>
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-sm-3 my-1">
                            <label>Current Investment Interest Rate:
                                {{investmentInterestRateList[0]?.investmentInterestRate}}</label>
                        </div>
                    </div>
                </div>
                <hr />

                <div class="form-row align-items-center">
                    <div class="col">
                        <label>Set Loan Interest Rate:</label>
                    </div>
                    <div class="col">
                        <div class="input-group">
                            <input type="number" [(ngModel)]="loanInterestRate" name="loanInterestRate"
                                class="form-control" id="inlineFormInputGroupUsername" placeholder="Username">
                        </div>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary" (click)="setLoanInterestRate()">Set</button>
                    </div>
                    <div class="col">
                        <label>Set Investment Interest Rate:</label>
                    </div>
                    <div class="col">
                        <div class="input-group">
                            <input type="number" [(ngModel)]="investmentInterestRate" name="investmentInterestRate"
                                class="form-control" id="inlineFormInputGroupUsername" placeholder="Username">
                        </div>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary" (click)="setInvestmentInterestRate()">Set</button>
                    </div>

                </div>
            </form>
        </div>

    </div>
</div>